:root {
    --button-background: #393E46;
    --danger-background: #c82333;
    --even-row-background: #333230;
    --odd-row-background: #403f3e;
}

button {
    padding: clamp(8px, 2vw, 12px) clamp(12px, 3vw, 20px);
    font-size: clamp(14px, 2vw, 16px);
    font-family: var(--font-family);
    border: none;
    border-radius: 7px;
    background-color: var(--button-background);
    color: #EEEEEE;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: auto; /* Default auto width */
    min-width: 80px; /* Prevents tiny buttons */
}

button.btn-primary:hover {
    background-color: var(--hover-background);
}

button.btn-danger:hover {
    background-color: var(--danger-background);
}

.button-group {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5px 5px 0 5px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;

    background-color: var(--light-background);
    border-radius: 5px;
    height: var(--board-size);
    width: calc(var(--board-size) * 0.5);
    min-width: min-content;
    align-self: center;
    margin-left: 10px;
}

.pgn-container {
    grid-row: 1;
    align-self: flex-start;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    margin: 0;
}

.pgn-row {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr;
    width: inherit;
    height: auto;
    padding: 0;
    font-size: clamp(8px, 5vw, 18px);
    color: white;
    background-color: black;
    gap: 5px;
    box-sizing: border-box;
    min-height: 20px;
}

.pgn-column {
    flex: 1;
    text-align: left;
    padding: 5px;
    width: inherit;
}

.pgn-row button {
    cursor: pointer;
    text-align: center;
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    font-size: inherit;
    background-color: inherit;
    padding: 0;
    border-radius: 0;

}


.pgn-row button:hover {
    background-color: var(--hover-background);
}

.pgn-row:nth-child(even) {
    background-color: var(--even-row-background)
}

.pgn-row:nth-child(odd) {
    background-color: var(--odd-row-background);
}

