# NOTE: Never commit your .env file to version control, this is just an example file

# Flask secret for signing sessions
SECRET_KEY=replace-with-random-string

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
