button {
    padding: 12px 20px;
    font-size: 16px;

    border: none;
    border-radius: 7px;
    background-color: #222831;
    color: #EEEEEE;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
/* Primary */
button.btn-primary {

}

button.btn-primary:hover {
    background-color: #00ADB5;
}

/* Danger */
button.btn-danger {

}

button.btn-danger:hover {
    background-color: #c82333;
}
